*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.Operations{
	height: 77vh;
	width: 96vw;
	margin: 0px 2vw;
	justify-content: space-between;
	margin-top: 65px;
    background-color: #a64dff;
    border-radius: 50px;
}

.form{
	display: flex;
	flex: 1;
}

.child{
	width: all;
    flex: 1;
    height: 100%;
    width: 96%;
    margin: 1.5% 1%;
    padding: 10px 20px;
    border-radius: 50px;
 }

.submit{
	height: 40px;
	width: 100%;
	background-color: green;
	font-size: 16px;
}

 input{
	height: 35px;
	width: 100%;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	background-color: #fff;
	padding: 0px 10px;
}

.submitDiv{
	width: 20%;
	margin: 0px 40%;
}