@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
}

html,body{
  display: grid;
  height: 100%;
  width: 100%;
  background-image: url(images/bganimation.gif);
  background-position: center;
  place-items: center;
}

@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#box{
	text-align: center;
	overflow: hidden;
  	max-width: 390px;	  	
	background: #fff;
 	padding: 50px;
  	border-radius: 5px;
    flex-wrap: wrap;
    color: black;
    box-shadow: 0px 15px 20px rgba(0,0,12px,0);
    border-radius: 30px;
}

#inputfield{
    height: 35px;
    margin-bottom: 20px;
	width: 100%;
	outline: none;
	padding-left: 15px;
	border-radius: 15px;
	border: 1px solid lightgrey;
	border-bottom-width: 2px;
	font-size: 17px;
	transition: all 0.3s ease;
}

#btn{
	height: 30px;
    width: 180px;	
    border: none;
    cursor: pointer;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	color: white;
	font-size: 16px;
	background: -webkit-linear-gradient(right, #a445b2, dodgerblue);
}

h1{
	font-family: 'Quintessential', cursive;
	margin-bottom: 25px;
}

#Common{
	height: 53px;
    width: 100%;
    margin-right: 40px;
}

#password{
	height: 30px;
	width: 100%;
}

#cpassword{
	height: 30px;
	width: 100%;
}

#division{
	margin: 15px;
}

#button{
	height: 30px;
	width: 100%;
}

.loader-wrapper {
    width: 60px;
    height: 60px;
    justify-content: center;	
    align-items: center;
    margin-left: 40%;
}
.loader {
    box-sizing: border-box; 
    width: 100%; 
    height: 100%;
    border: 5px solid #162534; 
    border-top-color: #4bc8eb; 
    border-bottom-color: #f13a8f; 
    border-radius: 50%; 
    animation: rotate 5s linear infinite; 
}

.loader-inner{
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}

@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }

}

@media screen and (max-width: 480px)
{
		html,body{
		  margin:auto;
		  margin-top:150px;
		  background-color: none;
		}

		#container{
			height: auto;
			width: auto;
		}
}

